@use '../../utils/styles';

.player {
    display: grid;
    grid-auto-flow: row;
    place-items: center;
    border-radius: 20px;
    border: 3px solid black;
    background: white;
    box-shadow: 0px 10px 0px 0px black;
    position: relative;
    &__title {
        @extend .heading_sm;
    }
    &__score {
        @extend .heading_lg;
    }
    &__image {
        position: absolute;
    }
}

@media screen and (min-width: 560px) {
    .player {
        min-width: 141px;
        padding: 29px;
    }
}